<p><a href="https://firebase.google.com">Firebase</a> is arguably the most popular backend as a service (BaaS) offering. It’s created by Google and comes with almost everything you’d need to create a great app, including a database, file storage, user authentication, and real-time communication. However, it’s closed source, meaning all your and your users’ data is under Google’s control.</p>
<p>That’s where <a href="https://supabase.io/">Supabase</a> can help. Supabase is an open source Firebase alternative that aims to provide a similar set of functionalities and development experience, <em>without</em> controlling your data.</p>
<p>In this article, you’ll learn how to use Supabase together with <a href="https://replit.com/">Replit</a>, a cloud-based IDE, to create a real-time chat app. You’ll see how powerful and versatile both Supabase and Replit are and how you can use them to create an amazing app in no time.</p>
<p>You can follow along with the tutorial using <a href="https://replit.com/@areknawo/Supabase-Chat">this repl</a>.</p>
<h2>How the Chat App Works</h2>
<p>Before diving into the code, let’s talk about the stack and how the chat works.</p>
<p>To make a chat app, you need two things: the frontend and the backend. The frontend UI should contain an input form and a list of posted messages. The backend requires only a simple database to store users and their messages, and a reliable transfer method to post and retrieve messages.</p>
<p>For this tutorial, the real-time chat app will be powered by <a href="https://v3.vuejs.org/">Vue 3</a> and <a href="https://tailwindcss.com/">Tailwind CSS</a>, and will allow users to post short text messages to a public space. For the sake of simplicity, users will be recognized only through IDs stored across sessions in <code>localStorage</code>. All of this can be done quickly using Replit.</p>
<p>The backend will be handled with Supabase’s hosted solution. They offer a <a href="https://supabase.com/pricing">free plan</a> that is more than sufficient for this particular tutorial. All you have to do is create an account and set up a project.</p>
<h2>Creating the Chat App</h2>
<p>Let’s talk through how you can implement a chat app, starting with the initial setup. </p>
<h3>Initial Setup in Replit</h3>
<p>If you haven’t already, start by <a href="https://replit.com/signup">creating a Replit account</a>. Then, <a href="https://replit.com/login">log in</a> and create a new repl using the VueJS template:</p>
<p><img src="https://i.imgur.com/kqgU3NG.png" alt="Creating a new VueJS repl"></p>
<p>Inside your repl, use the shell to install the necessary dependencies:</p>
<pre><code class="language-bash">npm install -D tailwindcss postcss autoprefixer
npm install @supabase/supabase-js
npx tailwindcss init -p
</code></pre>
<p>This command installs all npm dependencies required, including the official <code>@supabase</code> client library. Then it initializes the config files for Tailwind. </p>
<p><img src="https://i.imgur.com/EpZznLm.png" alt="Installing and configuring packages from shell"></p>
<p>To finish configuring Tailwind, add your project source files to the config file:</p>
<pre><code class="language-javascript">// tailwind.config.js
module.exports = {
  content: [&quot;./index.html&quot;, &quot;./src/**/*.{vue,js,ts,jsx,tsx}&quot;],
  theme: {
    extend: {},
  },
  plugins: [],
};
</code></pre>
<p>Lastly, create and import a CSS file that includes all Tailwind layers:</p>
<pre><code class="language-css">/* src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
</code></pre>
<pre><code class="language-javascript">// src/main.js
import { createApp } from &quot;vue&quot;;
import App from &quot;./App.vue&quot;;
import &quot;./tailwind.css&quot;;

createApp(App).mount(&quot;#app&quot;);
</code></pre>
<h3>Supabase Project Setup</h3>
<p>With the initial frontend repl set up, you can now move over to Supabase to set up the backend of your application.</p>
<p>Log in into your <a href="https://api.supabase.io/platform/login">Supabase account</a> and create a new project:</p>
<p><img src="https://i.imgur.com/o9EjOlN.png" alt="Creating a new Supabase project"></p>
<p>Inside the new project, you’ll need to create a new table in the Postgres database to hold all your chat messages. To do that, you can use the following SQL query:</p>
<pre><code class="language-sql">CREATE TABLE messages (
  id bigint GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
  text TEXT NOT NULL,
  username TEXT NOT NULL,
  timestamp timestamp default now() NOT NULL
);
</code></pre>
<p>You can run it from the SQL Editor in the Supabase dashboard:</p>
<p><img src="https://i.imgur.com/EEktAZw.png" alt="Supabase SQL Editor"></p>
<p>Lastly, enable real-time events on the table by first navigating to <strong>Database &gt; Replication</strong> and clicking the <strong>0 tables</strong> button under <strong>Source</strong>.</p>
<p><img src="https://i.imgur.com/IcpiAuz.png" alt="Enabling real-time events from the Supabase dashboard - step 1"></p>
<p><img src="https://i.imgur.com/IjF2ZKE.png" alt="Enabling real-time events from the Supabase dashboard - step 2"></p>
<h3>Connecting with Supabase</h3>
<p>You’ve now set up both the frontend and backend of your application. To connect the two, you’ll need the public API key and the database endpoint of your Supabase project. You can find them in the <strong>Settings &gt; API</strong> menu:</p>
<p><img src="https://i.imgur.com/oE1agoc.png" alt="Supabase project API settings"></p>
<p>Connecting with Supabase on the frontend can be done with its client library. All you need are the above credentials and the <code>createClient</code> function.</p>
<pre><code class="language-javascript">// src/api.js
import { createClient } from &quot;@supabase/supabase-js&quot;;
import { ref } from &quot;vue&quot;;

const supabase = createClient(&quot;DATABASE_ENDPOINT&quot;, &quot;PUBLIC_KEY&quot;);
</code></pre>
<p>The <code>supabase</code> client instance will serve as a base for a simple composable function based on the <a href="https://v3.vuejs.org/guide/composition-api-introduction.html">Vue Composition API</a>. It’ll control all the message-related actions like sending, loading, and listening for new messages.</p>
<p>To implement this, start by creating the following helper functions:</p>
<pre><code class="language-javascript">// ...
const getUsername = () =&gt; {
  const previousUsername = localStorage.getItem(&quot;username&quot;);

  if (previousUsername) {
    return previousUsername;
  } else {
    const username = `user_${Math.random().toString(36).substring(2, 6)}`;

    localStorage.setItem(&quot;username&quot;, username);

    return username;
  }
};
const getMessages = async (from, to) =&gt; {
  const { data } = await supabase
    .from(&quot;messages&quot;)
    .select()
    .range(from, to)
    .order(&quot;timestamp&quot;, { ascending: false });

  return data;
};
const onNewMessage = (handler) =&gt; {
  supabase
    .from(&quot;messages&quot;)
    .on(&quot;INSERT&quot;, (payload) =&gt; {
      handler(payload.new);
    })
    .subscribe();
};
const createNewMessage = async (username, text) =&gt; {
    const { data } = await supabase.from(&quot;messages&quot;).insert({ username, text });

    return data;
}
</code></pre>
<p>The above code takes several actions, including:</p>
<ul>
<li><code>getUsername</code>, which generates a random username and saves it in persistent <code>localStorage</code>. This username will be used to identify messages that the current user sends.</li>
<li><code>getMessages</code>, which uses the Supabase client to fetch messages from the given range. They’re selected from the <code>messages</code> table and arranged in descending order by their timestamps.</li>
<li><code>onNewMessage</code>, which relies on the Supabase real-time system to listen to <code>INSERT</code>s into the <code>messages</code> table. The newly-created messages are passed on to the provided handler.</li>
<li><code>createNewMessage</code>, which inserts a new message into the Supabase database with the provided username and text.</li>
</ul>
<p>You’ll use all the above functions in the <code>useMessages</code> composable to wrap the actions needed for the UI:</p>
<pre><code class="language-javascript">// ...
const useMessages = () =&gt; {
  const username = getUsername();
  const messages = ref([]);
  const messagesCount = ref(0);
  const maxMessagesPerRequest = 50;
  const loadMessagesBatch = async () =&gt; {
    const loadedMessages = await getMessages(
      messagesCount.value,
      maxMessagesPerRequest - 1
    );

    messages.value = [...loadedMessages, ...messages.value];
    messagesCount.value += loadedMessages.length;
  };

  loadMessagesBatch();
  onNewMessage((newMessage) =&gt; {
    messages.value = [newMessage, ...messages.value];
    messagesCount.value += 1;
  });

  return {
    username,
    messages,
    async send(text) {
      if (text) {
        await createNewMessage(username, text);
      }
    },
    loadOlder() {
      return loadMessagesBatch();
    },
  };
};

export { useMessages };
</code></pre>
<p>This function uses the Vue Composition API to create the necessary refs, then sets up the new message listener and loads the initial batch of messages.</p>
<p>The returned object contains values required for the UI, like <code>username</code> (to check and appropriately style the user’s own messages) and <code>messages</code>, in an array. It also includes two wrapper methods, <code>send</code> and <code>loadOlder</code>, for sending new messages and loading older ones.</p>
<h2>Frontend UI</h2>
<p>With the API connector ready, it’s time to design the frontend UI. Start by editing <code>src/App.vue</code> to include a chat container and the rest of the boilerplate:</p>
<pre><code class="language-html">&lt;template&gt;
  &lt;div
    class=&quot;max-w-screen-sm relative h-full w-full bg-gray-100 flex flex-col&quot;
  &gt;&lt;/div&gt;
&lt;/template&gt;
&lt;script&gt;
import { useMessages } from &quot;./api&quot;;
import Message from &quot;./components/Message.vue&quot;;
import { defineComponent, ref } from &quot;vue&quot;;

export default defineComponent({
components: { Message },
  setup() {
    // ...
  },
});
&lt;/script&gt;
&lt;style&gt;
  html,
  body,
  #app {
    @apply h-full;
  }
  #app {
    @apply flex justify-center items-center;
  }
&lt;/style&gt;
</code></pre>
<p>With that in place, you can focus on the actual template to create the message list and message input form:</p>
<pre><code class="language-html">&lt;div class=&quot;max-w-screen-sm relative h-full w-full bg-gray-100 flex flex-col&quot;&gt;
  &lt;ul
    class=&quot;flex flex-col-reverse flex-1 overflow-y-auto&quot;
    @scroll=&quot;handleScroll&quot;
  &gt;
    &lt;Message
      v-for=&quot;message in messages&quot;
      :username=”message.username”
      :personal=&quot;message.username === username&quot;
      &gt;{{ message.text }}&lt;/Message&gt;
  &lt;/ul&gt;
  &lt;div
    class=&quot;w-[calc(100%-2rem)] h-16 m-4 p-4 bg-gray-200 rounded-lg flex justify-center items-center&quot;
  &gt;
    &lt;input
      placeholder=&quot;Message&quot;
      class=&quot;bg-white rounded-lg px-2 py-1 mr-2 w-full focus:outline-none focus:ring focus:ring-gray-300&quot;
      v-model=&quot;input&quot;
      @keydown=&quot;handleSend&quot;
    /&gt;
    &lt;button
      :disabled=&quot;!input&quot;
      class=&quot;bg-blue-500 px-2 py-1 text-white rounded-lg hover:bg-blue-600 disabled:opacity-50&quot;
      @click=&quot;handleSend&quot;
    &gt;
      Send
    &lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>
<p><code>&lt;Message&gt;</code> is a separate Vue component used to display and adequately style each chat message. It’s located in the <code>src/components/Message.vue</code> file:</p>
<pre><code class="language-html">&lt;template&gt;
  &lt;li class=&quot;flex&quot; :class=&quot;personal ? &#39;flex-row-reverse&#39; : &#39;flex-row&#39;&quot;&gt;
    &lt;div
      class=&quot;p-2 rounded-lg mx-4 my-3 relative&quot;
      :class=&quot;personal ? &#39;bg-blue-500 text-white&#39; : &#39;bg-gray-200&#39;&quot;
    &gt;
      &lt;slot&gt;&lt;/slot&gt;
      &lt;div v-if=&quot;!personal&quot; class=&quot;absolute text-xs bg-gray-300 p-0.5 rounded-lg&quot;&gt;{{username}}&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;flex-1&quot;&gt;&lt;/div&gt;
  &lt;/li&gt;
&lt;/template&gt;
&lt;script&gt;
import { defineComponent } from &quot;vue&quot;;

export default defineComponent({
  props: {
    personal: Boolean,
    username: String
  },
});
&lt;/script&gt;
</code></pre>
<p>The component will display the user’s own messages on the opposite side and in a different color.</p>
<p>Lastly, back in <code>src/App.vue</code>, you should edit the <code>&lt;script&gt;</code> section to register components, define event handlers, and handle user input data:</p>
<pre><code class="language-javascript">import { useMessages } from &quot;./api&quot;;
import Message from &quot;./components/Message.vue&quot;;
import { defineComponent, ref } from &quot;vue&quot;;

export default defineComponent({
  components: { Message },
  setup() {
    const { username, messages, send, loadOlder } = useMessages();
    const input = ref();
    const handleScroll = (event) =&gt; {
      if (event.target.scrollTop === 0) {
        loadOlder();
      }
    };
    const handleSend = (event) =&gt; {
      if (!event.key || event.key === &quot;Enter&quot;) {
        send(input.value);
        input.value = &quot;&quot;;
      }
    };

    return {
      input,
      username,
      messages,
      handleScroll,
      handleSend,
    };
  },
});
</code></pre>
<p>The chat is now ready! Insert some data into the database to test it, either through the API, the created chat form, or right from Supabase’s Table Editor.</p>
<p><img src="https://i.imgur.com/UMgOv1W.png" alt="Supabase Table Editor"></p>
<p>Here’s an example chat:</p>
<p><img src="https://i.imgur.com/Tsaot6Z.png" alt="Replit and Supabase Chat App"></p>
<h2>Conclusion</h2>
<p>The chat app you’ve just built only scratches the surface of what can be created using Replit and Supabase. These tools have incredible potential, and with some time and patience, you can use them to build pretty much anything you want.</p>
<p>Feel free to experiment with the chat you’ve just created. You can use Supabase Auth to add authentication, or storage to allow for file transfers. Or, you can expand the UI and integrate other APIs right from Replit. It’s your chance to build something extraordinary!</p>
<p><a href="https://replit.com">Replit</a> is a simple yet powerful online IDE that can help you build all sorts of apps. A chat app is only the beginning, because Replit encourages you to code for fun and explore the unknown.</p>
