<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Replit - Blog Error!</title>
  </head>
  <body>
    <h1>oh no, something went wrong!</h1>
    <h2><%= err %></h2>
    <p>
      maybe you could help fix
      <a href="/__repl">this repl</a>
    </p>
  </body>
</html>
