<footer>

<section class="footer_wrapper">

<div class="footer_links">
<h4>Legal</h4>

<a href="https://repl.it/site/terms">Terms and services</a>
<a href="https://repl.it/site/privacy">Privacy</a>
</div>


<div class="footer_links">
<h4>Repl.it</h4>

<a href="https://repl.it/blog">Blog</a>
<a href="https://repl.it/about">About</a>
<a href="https://repl.it/site/jobs">Jobs</a>
<a href="https://repl.it/classrooms">Classrooms</a>
<a href="https://repl.it/site/pricing">Pricing</a>
</div>


<div class="footer_links">
<h4>Handy links</h4>

<a href="https://repl.it/languages">Create a repl</a>
<a href="https://repl.it/site/docs">Docs</a>
<a href="https://repl.it/feedback">Feedback</a>
<a href="https://repl.it/bugs">Bug reports</a>
<a href="https://repl.it/language-requests">Language requests</a>
<a href="https://repl.ithttps://status.repl.it">Status page</a>
</div>

<div class="footer_links">
<h4>Social media</h4>
<a href="https://facebook.com/repl.it">Facebook</a>
<a href="https://twitter.com/replit">Twitter</a>
<a href="https://instagram.com/repl.it">Instagram</a>
<a href="https://repl.it/discord">Discord</a
</div>
</section>



<section class="languages_wrapper">
<h4>Languages</h4>

<div class="languages">
<a href="https://repl.it/languages/clojure">Clojure</a>
<a href="https://repl.it/languages/haskell">Haskell</a>
<a href="https://repl.it/languages/kotlin">Kotlin (beta)</a>
<a href="https://repl.it/languages/qbasic">QBasic</a>
<a href="https://repl.it/languages/forth">Forth</a>
<a href="https://repl.it/languages/lolcode">LOLCODE</a>
<a href="https://repl.it/languages/brainfuck">BrainF</a>
<a href="https://repl.it/languages/emoticon">Emoticon</a>
<a href="https://repl.it/languages/bloop">Bloop</a>
<a href="https://repl.it/languages/unlambda">Unlambda</a>
<a href="https://repl.it/languages/javascript">JavaScript</a>
<a href="https://repl.it/languages/coffeescript">CoffeeScript</a>
<a href="https://repl.it/languages/scheme">Scheme</a>
<a href="https://repl.it/languages/apl">APL</a>
<a href="https://repl.it/languages/lua">Lua</a>
<a href="https://repl.it/languages/python">Python 2.7</a>
<a href="https://repl.it/languages/ruby">Ruby</a>
<a href="https://repl.it/languages/roy">Roy</a>
<a href="https://repl.it/languages/python3">Python</a>
<a href="https://repl.it/languages/nodejs">Nodejs</a>
<a href="https://repl.it/languages/enzyme">Enzyme</a>
<a href="https://repl.it/languages/go">Go</a>
<a href="https://repl.it/languages/cpp">C++</a>
<a href="https://repl.it/languages/cpp11">C++11</a>
<a href="https://repl.it/languages/c">C</a>
<a href="https://repl.it/languages/csharp">C#</a>
<a href="https://repl.it/languages/fsharp">F#</a>
<a href="https://repl.it/languages/html">HTML, CSS, JS</a>
<a href="https://repl.it/languages/rust">Rust</a>
<a href="https://repl.it/languages/swift">Swift</a>
<a href="https://repl.it/languages/python_turtle">Python (with Turtle)</a>
<a href="https://repl.it/languages/jest">Jest</a>
<a href="https://repl.it/languages/django">Django</a>
<a href="https://repl.it/languages/express">Express</a>
<a href="https://repl.it/languages/sinatra">Sinatra</a>
<a href="https://repl.it/languages/rails">Ruby on Rails</a>
<a href="https://repl.it/languages/rlang">R</a>
<a href="https://repl.it/languages/nextjs">Next.js</a>
<a href="https://repl.it/languages/gatsbyjs">GatsbyJS</a>
<a href="https://repl.it/languages/reactjs">React</a>
<a href="https://repl.it/languages/reactts">React Typescript</a>
<a href="https://repl.it/languages/reactre">React Reason</a>
<a href="https://repl.it/languages/bash">Bash</a>
<a href="https://repl.it/languages/quil">Quil</a>
<a href="https://repl.it/languages/crystal">Crystal</a>
<a href="https://repl.it/languages/julia">Julia</a>
<a href="https://repl.it/languages/elixir">Elixir</a>
<a href="https://repl.it/languages/nim">Nim</a>
<a href="https://repl.it/languages/reason_nodejs">Reason NodeJs</a>
<a href="https://repl.it/languages/erlang">Erlang</a>
<a href="https://repl.it/languages/typescript">TypeScript</a>
<a href="https://repl.it/languages/pygame">Pygame</a>
<a href="https://repl.it/languages/love2d">Love2D</a>
<a href="https://repl.it/languages/tkinter">Tkinter</a>
<a href="https://repl.it/languages/java_swing">Java Swing</a>
<a href="https://repl.it/languages/elisp">Emacs Lisp (Elisp)</a>
<a href="https://repl.it/languages/php7">PHP Web Server</a>
<a href="https://repl.it/languages/sqlite">SQLite</a>
<a href="https://repl.it/languages/java10">Java</a>
<a href="https://repl.it/languages/php_cli">PHP CLI</a>
<a href="https://repl.it/languages/pyxel">Pyxel</a>
</div>
</section>

<p class="copyright">
Copyright © 2020 Neoreason, Inc. All rights reserved.
</p>

</footer>


<style>
:root {
  /* Color variables */
  --text-color: black;
  --bg-color: white;
    
  --primary-color: #0070E0;

  --code-snippet-text: #C10000;
  --code-snippet-highlight: #FFEDED;


--dark-grey200: #21242C;
--dark-grey300: rgb(33,36,44,0.64);


  --light-grey400: #E4E4E4;
  --light-grey500: #F1F1F1;
  --light-grey600: #F8F8F8;

  /* Spacing variables */
  --spacing-half: 4px;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
  --spacing-7: 56px;
  --spacing-8: 64px;
}


/* Styling */

footer {
width: 100%;
background-color: var(--light-grey600);
display: flex;
padding: var(--spacing-6) 0;
flex-direction: column;
margin: 140px 0 0 0;
}

footer a {
font-size: 1em;
text-decoration: none;
color: var(--dark-grey300);
transition: 150ms color ease-in-out;
}

footer a:hover {
color: var(--text-color);
}

footer h4 {
color: var(--dark-grey200);
}

footer .footer_wrapper {
max-width: 1440px;
margin: 0 auto;

display: flex;
justify-content: center;
flex-wrap: wrap;
}

footer .footer_links {
display: flex;
flex-direction: column;
margin: 0 var(--spacing-2);
}


footer .languages_wrapper {
width: 70%;
margin: var(--spacing-4) auto;
padding: 0 0 0 var(--spacing-8);
max-width: 1440px;

display: flex;
flex-direction: column;
align-items: center;
}


footer .languages {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-gap: 0 var(--spacing-3);
}

.copyright {
color: var(--dark-grey300);
text-align: center;
}




/* Responsive Breakpoints */


@media all and (max-width:1100px) {

footer .languages_wrapper {
padding: 0 0 0 var(--spacing-2);
}

footer .languages {
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 0 var(--spacing-2);
}

}

@media all and (max-width:850px) {

footer a{
display: inline;
font-size: 14px;
}

footer .footer_wrapper {
justify-content: start;
}

footer .languages_wrapper {
width: 100%;
margin: var(--spacing-6) auto;
}

footer .languages {
grid-template-columns: 1fr 1fr 1fr;
width: 100%;
justify-content: space-between;
}

}

@media all and (max-width:600px) {
footer .footer_wrapper {
display: grid;
grid-template-columns: 1fr 1fr;
width: 100%;
justify-content: space-between;
}

footer a{
font-size: 14px;
}

footer .languages_wrapper {
align-items: start;
}

footer .languages {
grid-template-columns: 1fr 1fr;
}

}

</style>