<footer>
  <section class="footer_wrapper">
    <div class="footer_links">
      <h4>Legal</h4>
      <a href="https://replit.com/site/terms">Terms and services</a>
      <a href="https://replit.com/site/privacy">Privacy</a>
      <a href="https://replit.com/site/subprocessors">Subprocessors</a>
      <a href="https://replit.com/site/dpa">DPA</a>
      <a href="https://docs.replit.com/Teams/US_Student_DPA">US Student DPA</a>
    </div>
    <div class="footer_links">
      <h4>Replit</h4>
      <a href="https://blog.replit.com/">Blog</a>
      <a href="https://replit.com/about">About</a>
      <a href="https://replit.com/site/jobs">Jobs</a>
      <a href="https://replit.com/site/teams">Teams</a>
      <a href="https://replit.com/site/pricing">Pricing</a>
    </div>
    <div class="footer_links">
      <h4>Handy links</h4>
      <a href="https://replit.com/languages">Create a repl</a>
      <a href="https://replit.com/site/docs">Docs</a>
      <a href="https://status.replit.com/">Status Page</a>
      <a href="https://replit.com/@pips">Python Packages</a>
      <a href="https://replit.com/glitch">Import From Glitch</a>
    </div>
    <div class="footer_links">
      <h4>Social media</h4>
      <a href="https://facebook.com/repl.it">Facebook</a>
      <a href="https://twitter.com/replit">Twitter</a>
      <a href="https://tiktok.com/@replit">Tiktok</a>
      <a href="https://instagram.com/repl.it">Instagram</a>
      <a href="https://replit.com/discord">Discord</a>
    </div>
  </section>

  <section class="languages_wrapper">
    <h4>Languages</h4>

    <div class="languages">
      <a href="https://replit.com/languages/clojure">Clojure</a>
      <a href="https://replit.com/languages/haskell">Haskell</a>
      <a href="https://replit.com/languages/kotlin">Kotlin</a>
      <a href="https://replit.com/languages/qbasic">QBasic</a>
      <a href="https://replit.com/languages/forth">Forth</a>
      <a href="https://replit.com/languages/lolcode">LOLCODE</a>
      <a href="https://replit.com/languages/brainf">BrainF</a>
      <a href="https://replit.com/languages/emoticon">Emoticon</a>
      <a href="https://replit.com/languages/bloop">Bloop</a>
      <a href="https://replit.com/languages/unlambda">Unlambda</a>
      <a href="https://replit.com/languages/coffeescript">CoffeeScript</a>
      <a href="https://replit.com/languages/scheme">Scheme</a>
      <a href="https://replit.com/languages/apl">APL</a>
      <a href="https://replit.com/languages/lua">Lua</a>
      <a href="https://replit.com/languages/ruby">Ruby</a>
      <a href="https://replit.com/languages/roy">Roy</a>
      <a href="https://replit.com/languages/python3">Python</a>
      <a href="https://replit.com/languages/nodejs">Node.js</a>
      <a href="https://replit.com/languages/nodejs">JavaScript</a>
      <a href="https://replit.com/languages/deno">Deno (beta)</a>
      <a href="https://replit.com/languages/go">Golang</a>
      <a href="https://replit.com/languages/cpp">C++</a>
      <a href="https://replit.com/languages/c">C</a>
      <a href="https://replit.com/languages/csharp">C#</a>
      <a href="https://replit.com/languages/fsharp">F#</a>
      <a href="https://replit.com/languages/html">HTML, CSS, JS</a>
      <a href="https://replit.com/languages/rust">Rust</a>
      <a href="https://replit.com/languages/swift">Swift</a>
      <a href="https://replit.com/languages/python_turtle">Python (with Turtle)</a>
      <a href="https://replit.com/languages/basic">Basic (beta)</a>
      <a href="https://replit.com/languages/rlang">R</a>
      <a href="https://replit.com/languages/bash">Bash</a>
      <a href="https://replit.com/languages/crystal">Crystal</a>
      <a href="https://replit.com/languages/julia">Julia</a>
      <a href="https://replit.com/languages/elixir">Elixir</a>
      <a href="https://replit.com/languages/nim">Nim</a>
      <a href="https://replit.com/languages/dart">Dart</a>
      <a href="https://replit.com/languages/reason_nodejs">Reason Node.js</a>
      <a href="https://replit.com/languages/tcl">Tcl</a>
      <a href="https://replit.com/languages/erlang">Erlang</a>
      <a href="https://replit.com/languages/typescript">TypeScript</a>
      <a href="https://replit.com/languages/pygame">Pygame</a>
      <a href="https://replit.com/languages/love2d">Love2D</a>
      <a href="https://replit.com/languages/elisp">Emacs Lisp (Elisp)</a>
      <a href="https://replit.com/languages/php7">PHP Web Server</a>
      <a href="https://replit.com/languages/sqlite">SQLite</a>
      <a href="https://replit.com/languages/java10">Java</a>
      <a href="https://replit.com/languages/php_cli">PHP CLI</a>
      <a href="https://replit.com/languages/pyxel">Pyxel</a>
      <a href="https://replit.com/languages/raku">Raku</a>
      <a href="https://replit.com/languages/scala">Scala (beta)</a>
      <a href="https://replit.com/languages/nix">Nix (beta)</a>
    </div>
  </section>

  <p class="copyright">
    Copyright © 2022 Replit, Inc. All rights reserved.
  </p>
</footer>

<style>
/* Styling */

/* the removed css here was redundant from the main file (no idea why it was needed here) and was messing with styling since it is loaded last */

footer {
  width: 100%;
  background-color: var(--light-grey600);
  display: flex;
  padding: var(--spacing-6) 0;
  flex-direction: column;
  margin: 35px 0 0 0;
}

footer a {
  font-size: 1em;
  text-decoration: none;
  color: var(--dark-grey300);
  transition: 150ms color ease-in-out;
}

footer a:hover {
  color: var(--text-color);
}

footer h4 {
  color: var(--dark-grey200);
}

footer .footer_wrapper {
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer .footer_links {
  display: flex;
  flex-direction: column;
  margin: 0 var(--spacing-2);
}

footer .languages_wrapper {
  width: 70%;
  margin: var(--spacing-4) auto;
  padding: 0 0 0 var(--spacing-8);
  max-width: 1440px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .languages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0 var(--spacing-3);
}

.copyright {
  color: var(--dark-grey300);
  text-align: center;
}

/* Responsive Breakpoints */

@media all and (max-width: 1100px) {
  footer .languages_wrapper {
    padding: 0 0 0 var(--spacing-2);
  }

  footer .languages {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0 var(--spacing-2);
  }
}

@media all and (max-width: 850px) {
  footer a {
    display: inline;
    font-size: 14px;
  }

  footer .footer_wrapper {
    justify-content: start;
  }

  footer .languages_wrapper {
    width: 100%;
    margin: var(--spacing-6) auto;
  }

  footer .languages {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-content: space-between;
  }
}

@media all and (max-width: 600px) {
  footer .footer_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-content: space-between;
  }

  footer a {
    font-size: 14px;
  }

  footer .languages_wrapper {
    align-items: start;
  }

  footer .languages {
    grid-template-columns: 1fr 1fr;
  }
}
</style>
<script src="search.js"></script>