<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.4.6"></script>

<!-- trying to understand some of this code made my mental state slowly deteriorate, as you can see through my comments. -p -->
<nav class="navigation">
    <div class="navigation-container">
        <!-- no idea why the image was hardcoded lmao. id added since logo is changed for dark theme -->
        <a class="logo" href="//replit.com" id="logo">
          <svg xmlns="http://www.w3.org/2000/svg" width="122" height="44" viewBox="0 0 122 44" fill="none">
<path d="M111.515 18.2192V16.7907C111.515 16.5453 111.313 16.3578 111.053 16.3578H106.046V13.5872C106.046 13.3419 105.844 13.1543 105.584 13.1543H103.68C103.42 13.1543 103.218 13.3563 103.218 13.5872V16.3578H100.26C99.9999 16.3578 99.7979 16.5598 99.7979 16.7907V18.2192C99.7979 18.4645 99.9999 18.6521 100.26 18.6521H103.218V22.8946C103.218 26.1413 104.747 27.642 108.037 27.642H110.721C110.981 27.642 111.183 27.44 111.183 27.2091V25.7806C111.183 25.5352 110.981 25.3477 110.721 25.3477H108.47C106.681 25.3477 106.046 24.6406 106.046 22.8801V18.6666H111.053C111.313 18.6521 111.515 18.4501 111.515 18.2192Z" fill="var(--text-color)"/>
<path d="M96.4647 12H93.8673C93.6075 12 93.4055 12.202 93.4055 12.4329V14.2655C93.4055 14.5108 93.6075 14.6984 93.8673 14.6984H96.4647C96.7244 14.6984 96.9264 14.4964 96.9264 14.2655V12.4329C96.912 12.1876 96.71 12 96.4647 12Z" fill="var(--text-color)"/>
<path d="M96.8111 25.3478V16.7908C96.8111 16.5455 96.6091 16.3579 96.3493 16.3579H90.534C90.2743 16.3579 90.0723 16.5599 90.0723 16.7908V18.2194C90.0723 18.4647 90.2743 18.6523 90.534 18.6523H93.9828V25.3478H90.534C90.2743 25.3478 90.0723 25.5498 90.0723 25.7807V27.2093C90.0723 27.4546 90.2743 27.6422 90.534 27.6422H100.346C100.606 27.6422 100.808 27.4402 100.808 27.2093V25.7807C100.808 25.5354 100.606 25.3478 100.346 25.3478H96.8111Z" fill="var(--text-color)"/>
<path d="M87.8932 25.3478H84.9494V12.4329C84.9494 12.1876 84.7474 12 84.4877 12H78.7157C78.4559 12 78.2539 12.202 78.2539 12.4329V13.8615C78.2539 14.1068 78.4559 14.2944 78.7157 14.2944H82.1212V25.3478H78.2972C78.0375 25.3478 77.8354 25.5498 77.8354 25.7807V27.2092C77.8354 27.4545 78.0375 27.6421 78.2972 27.6421H87.8932C88.1529 27.6421 88.3549 27.4401 88.3549 27.2092V25.7807C88.3549 25.5354 88.1529 25.3478 87.8932 25.3478Z"  fill="var(--text-color)"/>
<path d="M72.2223 16.1416C71.2411 16.1416 70.534 16.3581 69.9857 16.8775L69.3075 17.5269H68.687L68.4561 16.6899C68.3984 16.5024 68.2252 16.3581 68.0088 16.3581H66.7101C66.4503 16.3581 66.2483 16.5601 66.2483 16.791V31.5673C66.2483 31.8126 66.4503 32.0002 66.7101 32.0002H68.6148C68.8746 32.0002 69.0766 31.7982 69.0766 31.5673V28.3638L68.8313 26.6467L69.4662 26.5024L70.1444 27.1517C70.6783 27.6423 71.3277 27.8876 72.2945 27.8876C75.0939 27.8876 76.7822 25.954 76.7822 22.0146C76.7678 18.0752 75.0939 16.1416 72.2223 16.1416ZM71.2844 25.5211C69.8558 25.5211 69.0621 24.7852 69.0621 23.3855V20.6149C69.0621 19.2152 69.8414 18.4793 71.2844 18.4793C73.0304 18.4793 73.824 19.5759 73.824 21.9858C73.8096 24.4244 73.0304 25.5211 71.2844 25.5211Z" fill="var(--text-color)"/>
<path d="M58.1818 16.1416C54.5455 16.1416 52.5974 18.0752 52.5974 22.0002C52.5974 25.9396 54.531 27.8732 58.1097 27.8732C60.8802 27.8732 62.6696 26.7188 63.1458 24.7419C63.2179 24.4677 62.987 24.208 62.6984 24.208H60.9668C60.7792 24.208 60.6061 24.3234 60.5339 24.4966C60.2309 25.348 59.3651 25.752 58.1963 25.752C56.3781 25.752 55.5123 24.7563 55.3968 22.4331H63.2901C63.723 18.0897 61.9192 16.1416 58.1818 16.1416ZM55.4834 20.6726C55.7576 18.9699 56.609 18.1762 58.1674 18.1762C59.8269 18.1762 60.6061 19.0565 60.6494 20.6726H55.4834Z"  fill="var(--text-color)"/>
<path d="M46.9697 16.8631L46.3203 17.5124H45.671L45.469 16.6899C45.4257 16.4879 45.2381 16.358 45.0216 16.358H40.8658C40.6061 16.358 40.404 16.56 40.404 16.7909V18.2195C40.404 18.4648 40.6061 18.6524 40.8658 18.6524H43.3189V25.3479H40.4618C40.202 25.3479 40 25.5499 40 25.7808V27.2094C40 27.4547 40.202 27.6423 40.4618 27.6423H49.4517C49.7114 27.6423 49.9134 27.4403 49.9134 27.2094V25.7808C49.9134 25.5355 49.7114 25.3479 49.4517 25.3479H46.1472V20.6149C46.1472 19.2873 46.9264 18.5947 48.456 18.5947H50.938C51.1977 18.5947 51.3997 18.3926 51.3997 18.1618V16.5889C51.3997 16.3436 51.1977 16.156 50.938 16.156H49.4661C48.3838 16.1416 47.5325 16.3436 46.9697 16.8631Z"  fill="var(--text-color)"/>
<path d="M10 11.5C10 10.6716 10.6716 10 11.5 10H18.5C19.3284 10 20 10.6716 20 11.5V18H11.5C10.6716 18 10 17.3284 10 16.5V11.5Z" fill="#F26207"/>
<path d="M20 18H28.5C29.3284 18 30 18.6716 30 19.5V24.5C30 25.3284 29.3284 26 28.5 26H20V18Z" fill="#F26207"/>
<path d="M10 27.5C10 26.6716 10.6716 26 11.5 26H20V32.5C20 33.3284 19.3284 34 18.5 34H11.5C10.6716 34 10 33.3284 10 32.5V27.5Z" fill="#F26207"/>
</svg>
        </a>
        <a class="navigation-links" href="//replit.com/site/ide">Features</a>
        <a class="navigation-links" href="//replit.com/site/careers">Careers</a>
        <a class="navigation-links" href="/">Blog</a>
        <a class="navigation-links" href="//replit.com/site/pricing">Pricing</a>
    </div>
   
    <div class="signupHolder">
        <%- include('theme-control'); %>
        <a class="sign-up" href="//replit.com/signup" onclick="javascript:analytics.track('Signup Requested', {'from': 'blog', 'location': 'header'});">Sign up</a>
        
    </div>
</nav>