<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.4.6"></script>

<!-- trying to understand some of this code made my mental state slowly deteriorate, as you can see through my comments. -p -->
<nav class="navigation">
    <div class="navigation-container">
        <!-- no idea why the image was hardcoded lmao. id added since logo is changed for dark theme -->
        <a class="logo" href="//replit.com"><img id="logo-img" src="/images/logo.png" alt="Replit" /></a>
        <a class="navigation-links" href="//replit.com/site/ide">Features</a>
        <a class="navigation-links" href="//replit.com/site/careers">Careers</a>
        <a class="navigation-links" href="/">Blog</a>
        <a class="navigation-links" href="//replit.com/site/pricing">Pricing</a>
    </div>
   
    <div class="signupHolder">
        <%- include('theme-control'); %>
        <a class="sign-up" href="//replit.com/signup" onclick="javascript:analytics.track('Signup Requested', {'from': 'blog', 'location': 'header'});">Sign up</a>
        
    </div>
</nav>