<style>
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto 40px auto;
    max-width: 1800px;
    flex: 1;
    width: 100%;
    padding: 16px 0;
  }

.navigation-container {
  display: flex;
  align-items: center;
 }

 .navigation-links {
  text-decoration: none;
  padding: 4px 8px 8px 8px;
  margin: 4px;
  color: black;
  transition: .2s color ease-in-out;
 }

 .navigation-links:hover {
  color: #0070E0;
 }

.navigation .sign-up {
 margin: 0 0 4px 12px;
 padding: 8px 16px; 
background-color: #0070E0;
 border-radius: 4px;

font-weight: 500;
 text-decoration: none;
  color: white;
  transition: .2s opacity ease-in-out
}

.navigation .sign-up:hover {
opacity: .9;
}

.navigation-container img {
 margin: 0 12px;
width: 110px;
}

@media all and (max-width:800px) {

.navigation {
padding: 16px 0;
margin: 24px auto 32px auto;
}
.navigation img {
margin: 0;
}

.navigation-links {
display: none;
}

.navigation .sign-up{
margin: 0;
}


}

</style>



<nav class= "navigation">

<div class ="navigation-container">
 <a class="logo" href="//replit.com"><img src="//blog.replit.com/images/logo.png" alt="repl.it"/></a>

  <a class ="navigation-links" href ="//replit.com/site/ide">Features</a>
  <a class ="navigation-links" href ="//replit.com/site/jobs">Jobs</a>
  <a class ="navigation-links" href ="//blog.replit.com">Blog</a>
  <a class ="navigation-links" href ="//replit.com/site/pricing">Pricing</a>
  <a class ="navigation-links" href ="//replit.com/jam?from=static">Jam</a>
</div>

 <a class ="sign-up" href ="//replit.com/signup">Sign up</a>
</nav>