<div class="searchBoxContainer searchBoxContainerLower">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg>
    <input type="text" id="searchBoxLower" name="searchBox" placeholder="Search" class="searchBox">
</div>
<section class="categories-container-holder">
    <div id="categories-container" class="categories-container"></div>
</section>

<script>
    
    //added some themes!
    let listOfCategories = ["all", "eng", "product", "infra", "projects", "design", "edu", "news", "events", "ventures", "other"];

    let finalInner = "";

    listOfCategories.forEach((categoryName) => {
        //changed this to call a function
        finalInner += `<p class="category-holder"><button onclick="switchCategory('${categoryName}')" id="category-${categoryName}" class="categories-child category">${categoryName}</button></p>`;
    });

    document.getElementById("categories-container").innerHTML = finalInner;

    let selectedCategory = "category-all";
    document.getElementById(selectedCategory).className = "categories-child category category-selected";

    const switchCategory = (category) => {
        let listOfPosts = document.getElementById("page_container").children;

        let listOfCategoriesToInvis = listOfCategories.filter(function (e) {
            return e !== category;
        }); //removed the category we don't want to hide

        listOfCategoriesToInvis.splice(0, 1); //for the love of all that is good DONT MOVE THE ALL CATEGORY OUT OF THE FIRST POSITION. THIS WILL BREAK EVERYTHING

        let finalInner = "";

        let display = "none";

        if (category == "all") {
            display = "block";
        }

        //hiding the categories we want to hide
        for (let i = 0; i < listOfCategoriesToInvis.length; i++) {
            finalInner += `.post-category-${listOfCategoriesToInvis[i]} {\n    display: ${display};\n}\n`;
        }

        //changing the selected button at the top
        document.getElementsByClassName("category-selected")[0].classList.remove("category-selected");

        //weird bug where the all button would just stay selected lol
        document.getElementById(`category-all`).classList.remove("category-selected");

        //making the selected visible
        //we do this last so if an item has a hiddent category and a visible category, it still shows up
        finalInner += `.post-category-all {\n    display: block;\n}\n.post-category-${category} {\n    display: block;\n}`;

        //selecting this one
        document.getElementById(`category-${category}`).classList.add("category-selected");

        //adding css for the different posts
        document.getElementById("cssHolderCategories").innerHTML = finalInner;

        //if no posts are there, show the AWWWWWWWWWWWWW MANNNNNNNNNN thing at the bottom
        if (document.getElementsByClassName(`post-category-${category}`).length == 0 && category != "all") {
            document.getElementById("noPostsNotifier").style["display"] = "block";
        } else {
            document.getElementById("noPostsNotifier").style["display"] = "none";
        }
    };
</script>
