<button class="theme-button" onclick="toggleTheme()">☀️</button>

<script>

	if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
		if (window.localStorage.getItem('themeSwitch') != 'light') {
			toggleTheme()
		}
	} else if (window.localStorage.getItem('themeSwitch') == 'dark') {
		toggleTheme()
	}

	function toggleTheme() {
		let changingButton = document.getElementsByClassName('theme-button')[0];

		console.log(changingButton.innerHTML)

		if (changingButton.innerHTML == "☀️") {
			console.log("Changing to dark")
			document.getElementById("cssHolder").innerHTML = ":root {/* Color variables */--text-color: white;--bg-color: #0E1525;--dark-grey200: rgb(228, 228, 228);--dark-grey300: rgb(228, 228, 228, 0.64);--light-grey600: #1C2333;--light-grey500: #1C2333;--code-snippet-highlight:var(--light-grey600);--code-snippet-text: #ce9a78;--hljs-markdown-background:#1c2333;--hljs-markdown-subst:var(--text-color);--hljs-markdown-comment:#608b4e;--hljs-markdown-deletion:#ce9a78;--hljs-markdown-selection:#ce9a78;--hljs-markdown-pseudo:#bc6060;--hljs-markdown-literal:#9cdcfe;--hljs-markdown-addition:#569cd6;--hljs-markdown-meta:#1f7199;--hljs-markdown-meta-string:#4d99bf;}";
			document.getElementById('logo-img').src = ".//images/logo-dark.png"
			changingButton.innerHTML = "🌙";
			localStorage.setItem('themeSwitch', 'dark');
		} else {
			console.log("Changing to light")
			document.getElementById("cssHolder").innerHTML = "";
			document.getElementById('logo-img').src = ".//images/logo.png"
			changingButton.innerHTML = "☀️";
			window.localStorage.setItem('themeSwitch', 'light');
		}
	}
</script>