:root {
  /* Color variables */
  --text-color: black;
  --bg-color: white;
    
  --primary-color: #0070E0;

  --code-snippet-text: #C10000;
  --code-snippet-highlight: #FFEDED;


--dark-grey200: #21242C;
--dark-grey300: rgb(33,36,44,0.64);


  --light-grey400: #E4E4E4;
  --light-grey500: #F1F1F1;
  --light-grey600: #F8F8F8;

  /* Spacing variables */
  --spacing-half: 4px;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
  --spacing-7: 52px;
  --spacing-8: 60px;
}



/* Global styling */

* {
box-sizing: border-box;
}


body {
  width: 100%;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  line-height: 160%;
}

.page_container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--spacing-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}




/* Blog post */

.back {
  text-decoration: none;
  color: var(--text-color);
  transition: 150ms color ease-in-out;
  width: 720px;
}

.back:hover {
  color: var(--primary-color);
}

.back span {
  transition: 150ms padding ease-in-out;
}

.back:hover span {
  padding: 0 0 0 4px;
}



.post-item {
	width: 720px;
	margin: 0 auto;
}


.post-title a {
  font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 500;
  line-height: 1.25;
	font-size: 1.75em;
	color:var(--text-color);
  text-decoration: none;
  transition: .2s color ease-in-out;
}

.post-title a:hover {
	color: var(--primary-color);
}

.post-author {
	font-weight: 400;
  font-size: 1em;
	color:var(--dark-grey300);
}

.post-content {
	font-size: 18px;
	color:var(--dark-grey200);
}

.read-more {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
	margin-bottom: var(--spacing-3);
}

.read-more .arrow {
  transition: .2s margin ease-in-out;
}

.read-more:hover .arrow {
  margin: 0 0 0 4px;
}

.post-seperator {
	width: 720px;
	margin: var(--spacing-8) auto var(--spacing-4) auto;
	border-top: 1px solid #ececec;
}

.post-item:last-child .post-seperator {
	display: none;
}



.post-content pre {
	overflow: auto;
	border: 1px solid var(--light-grey500);
	padding: 12px;
	margin-top: 20px;
}

.post-content code {
	padding: 2px 4px;
}

.post-content pre code {
	display: block;
	overflow-x: auto;
	color: #000;
	border: none;
  white-space: pre;
}

.post-content code,
.post-content pre {
	font-size: 14px;
	line-height: 18px;
}


.post-content blockquote {
	font-style: italic;
	border-left: 3px solid var(--text-color);
	padding-left: 20px;
}


.post-item video {
	margin: 50px auto;
	max-width: 90%;
	display: block;
}
.post-item figure video {
    margin: inherit;
}
.post-item figure figcaption {
    text-align: center;
}



/* Edit on Repl.it button */
 
.repl-link {
	position: fixed;
  bottom: 1.25em;
	right: 1em;
  font-weight: 500;

	padding: 12px var(--spacing-2);
  border-radius: 4px;
	
	background:var(--text-color);
	color: var(--bg-color);
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25);

	text-decoration: none;
  transition: .2s background ease-in-out;
}

.repl-link:hover {
	background:var(--dark-grey200);
  text-decoration: none;
}


/* Markdown blog */

.markdown {
	color:var(--text-color);
	line-height: 180%;
	background: var(--bg-color);
	max-width: 800px;
	font-size: 16px;
  margin: var(--spacing-3) auto;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5 {
  font-weight: 500;
}

.markdown h1 {
	font-size: 1.75em;
}

.markdown h2 {
	font-size: 1.5em;
  margin: var(--spacing-8) 0 var(--spacing-2) 0;
	line-height: 140%;
}

.markdown h3 {
	font-size: 24px;
	line-height: 26px;
    margin: var(--spacing-6) 0 var(--spacing-2) 0;
}

.markdown h4 {
	font-size: 22px;
	line-height: 24px;
  margin: var(--spacing-6) 0 var(--spacing-2) 0;

}

.markdown h5 {
	font-size: 20px;
	line-height: 22px;
}

.markdown p {
	margin: var(--spacing-2) 0;
}

p>strong {
  margin: var(--spacing-6) 0 var(--spacing-2) 0 !important;
}

p>em {
  margin:  20px 0 40px 0 !important;
}



.markdown blockquote {
	font-style: italic;
	border-left: 3px solid var(--dark-grey200);
	padding-left: var(--spacing-3);
}

.markdown img {
  width: 75%;
  margin: var(--spacing-5) auto;
  display: block
}

.markdown a img {
	max-width: 75%;
	display: block;
	margin: var(--spacing-5) auto;
}

.markdown a {
	color: var(--primary-color);
}

/* UL and LI */

.markdown ul {
	padding-left: var(--spacing-half);
  list-style-type: circle;
}

.markdown ol {
	padding-left: var(--spacing-3);
  margin: var(--spacing-3) 0 var(--spacing-3) var(--spacing-3);
}

.markdown ul {
	list-style: none;
  margin: 0 0 var(--spacing-3) var(--spacing-3);
}

.markdown li {
  margin: 0 0 0 var(--spacing-3);
  list-style-type: disc;
}

.markdown ol li {
  list-style-type: decimal;
}

.markdown ul,
.markdown ol {
  line-height: 180%;
  word-break: break-word;
}





/* Code snippets */

.markdown pre code {
  font-family: "IBM Plex Mono", monospace;
	font-size: 14px;
	overflow-x: auto;
  color: var(--text-color);
	border: none;
	background-color:var(--light-grey500);
}

.markdown pre {
	overflow-x: scroll;
	padding: 36px;
white-space: pre-wrap;

	margin: 24px 0px;
	background-color: var(--light-grey500);
	border-radius: 4px;
	word-break: break-all;
	word-wrap: break-word;
	color: var(--text-color);
}

.markdown code {
  font-family: "IBM Plex Mono", monospace;
	font-size: .9em;
	color: var(--code-snippet-text);
	background-color: var(--code-snippet-highlight);
}





/* Responsive breakpoints */


@media all and (max-width: 800px) {
.page_container {
  padding: 0 var(--spacing-4);
}

	.post-seperator {
	width: 100%;
	margin-left: auto;
	}

  .post-item {
    width: 100%;
  }

.back {
  width: 100%;
}
}


@media all and (max-width:720px) {
	.markdown h1 {
		font-size: 28px;
	}
	.markdown h2 {
		font-size: 24px;
	}
	.markdown h3 {
		font-size: 22px;
	}
	.markdown h4 {
		font-size: 20px;
	}
	.markdown h5 {
		font-size: 18px;
	}

}

<<<<<<< HEAD
.readMore {
	margin-bottom: 20px;
}

.footer {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-flex-direction:column;
 -ms-flex-direction:column;
 flex-direction:column;
 -webkit-align-items:center;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center;
 font-family:'Raleway',sans-serif;
 background:#f2f2f3;
 padding:50px 5% 15px;
}
.footerLinksWrapper {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center;
 width:100%;
 max-width:800px;
 margin:0 auto 35px;
}
.languagesWrapper {
 width:70%;
 margin:0 auto 35px;
 text-align:center;
}
.footerLinksWrapper,
.footerLinksWrapper a,
.languagesWrapper,
.languagesWrapper a {
 color:#807f7f;
}
.footerLinksWrapper h4,
.languagesWrapper h4 {
 margin-bottom:20px;
}
.footerLinksWrapper .footerLinks>div>a,
.languagesWrapper .langLinks a {
 margin-bottom:5px;
 font-size:14px;
 display:block;
 -webkit-text-decoration:none;
 text-decoration:none;
}
.footerLinksWrapper .footerLinks {
 margin:0 10px;
}
.footerLinksWrapper a:hover,
.languagesWrapper a:hover {
 color:rgb(81,146,179);
 -webkit-text-decoration:none;
 text-decoration:none;
}
.languagesWrapper .langLinks {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-flex-direction:column;
 -ms-flex-direction:column;
 flex-direction:column;
 -webkit-flex-wrap:wrap;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap;
 height:210px;
 -webkit-align-items:flex-start;
 -webkit-box-align:flex-start;
 -ms-flex-align:flex-start;
 align-items:flex-start;
}
#copyright {
 color:rgba(128,127,127,0.7);
 font-size:14px;
 font-family:Questrial;
}



@media all and (max-width:900px) {
 .footer {
  position:relative;
 }
 .footerLinksWrapper {
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
 }
 .languagesWrapper {
  margin:0;
  width:100%;
  text-align:left;
 }
 .languagesWrapper .langLinks {
  height:auto;
  width:auto;
 }
 .footerLinksWrapper h4 {
  margin-top:22px;
  margin-bottom:16;
 }
}
.footer a {
 cursor:pointer;
=======


@media all and (max-width:500px) {
  .post-item img {
    margin: var(--spacing-3) 0;
    width: 100%;
  }

   .post-item a img {
    margin: var(--spacing-3) 0;
    max-width: none;
    width: 100%;
  }
>>>>>>> origin/master
}